/* Global Styles */
:root {
  --bg-color: #fffaf3;
  --text-color: #2c2c2c;
  --header-bg-color: #253154;
  --header-text-color: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.main {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100%;
}

/* Header Styles */
.header {
  background-color: var(--bg-color);
  text-align: center;
  padding: 1rem 0;
}
.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.header-menu__item {
  list-style: none;
}
.header-menu__link {
  color: var(--header-bg-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  position: relative;
}
.header-menu__link::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.15rem;
  position: absolute;
  bottom: -8px;
  background-color: var(--header-bg-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.header-menu__link:hover::before {
  transform: scaleX(1);
}

/* Main Content Styles Left */
.left {
  background-color: var(--header-bg-color);
  padding: 1rem 1rem 5rem;
  color: var(--header-text-color);
  border: 1px solid var(--header-bg-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: var(--header-text-color);
}
.left-title,
.left-interests {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--header-text-color);
}
.left-name {
  margin-bottom: 1rem;
}
.left h5 {
  font-size: 1.2rem;
}
.left-name p,
.left-address p,
.left-date p,
.left-place p,
.left-gender p,
.left-nation p,
.left-status p,
.left-docs p,
.left-site p {
  display: flex;
  align-items: center;
}

.left-address,
.left-contact,
.left-date,
.left-place,
.left-gender,
.left-nation,
.left-status,
.left-docs,
.left-site {
  margin-bottom: 1rem;
}

.left-site a {
  color: var(--header-text-color);
  text-decoration: underline;
  font-weight: bold;
  transition: all 0.3s ease;
}
.left-site a:hover {
  text-decoration: none;
}
.left i {
  margin-right: 0.5rem;
  color: var(--header-text-color);
}
.left-nation img {
  width: 20px;
  height: 20px;
  margin-left: 0.5rem;
}
.left-interests {
  margin-top: 2rem;
}

/* Main Content Styles Right */
.right {
  border: 1px solid var(--header-bg-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: var(--header-text-color);
  padding: 2rem;
}
.right-title {
  font-size: 2rem;
  color: var(--header-bg-color);
  margin-bottom: 2rem;
  position: relative;
}
.right-title:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 1px;
  background-color: var(--header-bg-color);
  margin-bottom: 1rem;
}
.right section {
  margin-bottom: 2rem;
}
.right .section-title {
  font-size: 1.5rem;
  color: var(--header-bg-color);
  margin-bottom: 1rem;
  position: relative;
}
.right .section-title:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  width: 100px;
  height: 1px;
  background-color: var(--header-bg-color);
}
.work-place {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid var(--header-bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.work-place-name p {
  font-style: italic;
  line-height: 1.4;
}
.work-place-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.work-place-list {
  padding-left: 18px;
}

/* Projects Styles */
.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}
.project-item {
  background-color: #fff;
  border-radius:8px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  max-width: 600px;
  margin: 20px auto;
}

.project-item:hover {
  transform: translateY(-5px);
}

.project-image {
  width: 100%;
  height: auto;
  display: block;
}

.project-content {
  padding: 20px;
}

.project-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 16px;
  background-color: var(--header-bg-color);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.project-button:hover {
  background-color: #0056b3;
}


.edu-place {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--header-bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.edu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
.edu-top__name p {
  font-style: italic;
  line-height: 1.4;
}

.skills.skill {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.skills .skill-descr,
.skills .skills-range {
  width: 50%;
}
.skills .skill-descr {
  display: flex;
  align-items: center;
}
.skills .skill-descr img {
  margin-right: 0.5rem;
  color: var(--header-bg-color);
}
.skill-bar {
  flex: 1;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}
.skill-descr img {
  width: 28px;
  height: 28px;
  margin-right: 0.5rem;
}

.skill-bar-fill {
  height: 100%;
  background-color: #374151;
  border-radius: 5px 0 0 5px;
}

.html {
  width: 90%;
}
.css {
  width: 85%;
}
.javascript {
  width: 60%;
}
.react {
  width: 40%;
}
.github {
  width: 70%;
}
.figma {
  width: 80%;
}

/* Footer Styles */
.footer {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  text-align: center;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-gh {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-gh img {
  width: 24px;
  height: 24px;
}
.footer-gh a {
  color: var(--header-text-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}
.footer-link img {
  width: 124px;
  height: auto;
}
pre {
  background-color: #f4f4f4;
  padding: 0.5rem;
  border-radius: 5px;
}
code {
  font-family: "Courier New", Courier, monospace;
}
